:root {
  background: #efefef;

  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
}

@media screen {
  body {
    padding: 8em;
    display: grid;
    grid-gap: 4em;
    justify-content: center;
  }
}
